html {
	color: #313C40;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3BA9D9;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;/* #3EA68D */
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #D93B54;
}

.page_header {
	text-align: center;
}

footer {
    background-color: #3BA9D9;
    color: #000000;
}